*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header{
    width: 100%;
    height: 178px;
    background-color: #61ADA0;
}

#info-header{
    padding-top: 0.7%;
    padding-left: 0.7%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-principal{
    width: 148px;
    height: 148px;
    display: inline-block;
}

#div-contato{
    width: 195.13px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-contato{
    height: 61.72px;
    margin-left: 15%;
}

#div-produtos{
    width: 225.99px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-produtos{
    height: 61.72px;
    margin-left: 3%;
}

#div-quem-somos{
    width: 286.72px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-quem-somos{
    height: 61.72px;
    margin-left: 3%;
}

#div-carrinho{
    width: 208.07px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-carrinho{
    height: 61.72px;
    margin-left: 3%;
}

#div-login{
    width: 124.45px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-login{
    height: 61.72px;
    margin-left: 3%;
}

#div-lupa{
    width: 95.57px;
    height: 92.59px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 50px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-lupa{
    height: 92.59px;
    margin-left: 3%;
    border-radius: 50px;
}

#lupa{
    width: 60px;
    padding-top: 15%;
}

#div-contato:hover{
    background-color: #B2D5BA;
}

#div-produtos:hover{
    background-color: #B2D5BA;
}

#div-quem-somos:hover{
    background-color: #B2D5BA;
}

#div-carrinho:hover{
    background-color: #B2D5BA;

}

#div-login:hover{
    background-color: #B2D5BA;
}

#div-lupa:hover{
    background-color: #B2D5BA;
}/*codigo header*/

#imagem-corpo{
    width: 100%;
}

#monitor-espaço{
    width: 446px;
    height: 564px;
    margin: 6% 0% 0% 4%;
    text-align: center;
    display: inline-block;
}

#monitor{
    width: 446px;
    height: 297px;
}

#nome-monitor{
    font-size: 32px;
    padding-top: 5%;
}

#monitor-desconto{
    font-size: 40px;
    color: #8C8C8C;
    padding-top: 5%;
}

#monitor-valor{
    font-size: 64px;
    padding-top: 5%;
}

#teclado-espaço{
    width: 446px;
    height: 564px;
    margin: 6% 0% 0% 11%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#teclado{
    width: 446px;
    height: 297px;
}

#nome-teclado{
    font-size: 32px;
    padding-top: 5%;
}

#teclado-desconto{
    font-size: 40px;
    color: #8C8C8C;
    padding-top: 5%;
}

#teclado-valor{
    font-size: 64px;
    padding-top: 5%;
}

#mouse-espaço{
    width: 446px;
    height: 564px;
    margin: 6% 0% 0% 11%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#mouse{
    width: 446px;
    height: 297px;
}

#nome-mouse{
    font-size: 32px;
    padding-top: 5%;
}

#mouse-desconto{
    font-size: 40px;
    color: #8C8C8C;
    padding-top: 5%;
}

#mouse-valor{
    font-size: 64px;
    padding-top: 5%;
}

#roda-pe{ /*roda pe*/
    width: 100%;
    background-color: #61ADA0;
    height: 157px;
    margin-top: 6.8%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    vertical-align: top;
}

#logo-roda-pe{
    width: 135px;
    height: 135px;
    display: inline-block;
}

p{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 24px;
    margin: 30px 0px 0px 30px;
}
